<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" rel="stylesheet">
    <title>Futóverseny Kezelő Alkalmazás</title>
</head>
<body>
    <h1>Schneider Péter JI0321</h1>
    <ul>
        <li>
            <a href="/runner/getRunner" class="btn btn-primary">View Runners</a>
        </li>
        <li>
            <a href="/result/getRaceRunner/1" class="btn btn-primary">View RaceRunner</a>
        </li>
        <li>
            <a href="/result/getAverageTime/1" class="btn btn-primary">View AvargeTime</a>
        </li>
        <li>
            <a href="/race/getRace" class="btn btn-primary">View Race</a>
        </li>
    </ul>

</body>
</html>

